



      
    
  </div>
</div>
<script>
    $(document).ready(function () {
$('.datatables').DataTable({
  "columnDefs": [
    { "width": "15%", "targets": 10 }
  ],
  "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
});
    });

</script>
</body>
</html>